<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (C) 2023 Niall 'Rivernile' Scott
  ~
  ~ This software is provided 'as-is', without any express or implied
  ~ warranty.  In no event will the authors or contributors be held liable for
  ~ any damages arising from the use of this software.
  ~
  ~ The aforementioned copyright holder(s) hereby grant you a
  ~ non-transferrable right to use this software for any purpose (including
  ~ commercial applications), and to modify it and redistribute it, subject to
  ~ the following conditions:
  ~
  ~  1. This notice may not be removed or altered from any file it appears in.
  ~
  ~  2. Any modifications made to this software, except those defined in
  ~     clause 3 of this agreement, must be released under this license, and
  ~     the source code of any modifications must be made available on a
  ~     publically accessible (and locateable) website, or sent to the
  ~     original author of this software.
  ~
  ~  3. Software modifications that do not alter the functionality of the
  ~     software but are simply adaptations to a specific environment are
  ~     exempt from clause 2.
  ~
  -->
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission
        android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission
        android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission
        android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission
        android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission
        android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission
        android:name="android.permission.VIBRATE" />

    <application>
        <service
            android:name="uk.org.rivernile.android.bustracker.core.alerts.arrivals.ArrivalAlertRunnerService"
            android:exported="false" />

        <service
            android:name="uk.org.rivernile.android.bustracker.core.alerts.proximity.ProximityAlertRunnerService"
            android:foregroundServiceType="location"
            android:exported="false" />

        <receiver
            android:name="uk.org.rivernile.android.bustracker.core.alerts.DeviceBootBroadcastReceiver"
            android:exported="true">

            <intent-filter>
                <action
                    android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>

            <intent-filter>
                <action
                    android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="uk.org.rivernile.android.bustracker.core.alerts.arrivals.RemoveArrivalAlertBroadcastReceiver"
            android:exported="false" />

        <receiver
            android:name="uk.org.rivernile.android.bustracker.core.alerts.proximity.RemoveProximityAlertBroadcastReceiver"
            android:exported="false" />

        <receiver
            android:name="uk.org.rivernile.android.bustracker.core.alerts.proximity.android.AndroidAreaEnteredBroadcastReceiver"
            android:exported="false" />

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">

            <meta-data
                android:name="uk.org.rivernile.android.bustracker.core.alerts.CheckAlertsInitialiser"
                android:value="androidx.startup" />
        </provider>
    </application>
</manifest>