<?xml version="1.0" encoding="UTF-8"?>
<!--
/*
 * Copyright (C) 2009 - 2010 Niall 'Rivernile' Scott
 *
 * This software is provided 'as-is', without any express or implied
 * warranty.  In no event will the authors or contributors be held liable for
 * any damages arising from the use of this software.
 *
 * The aforementioned copyright holder(s) hereby grant you a
 * non-transferrable right to use this software for any purpose (including
 * commercial applications), and to modify it and redistribute it, subject to
 * the following conditions:
 *
 *  1. This notice may not be removed or altered from any file it appears in.
 *
 *  2. Any modifications made to this software, except those defined in
 *     clause 3 of this agreement, must be released under this license, and
 *     the source code of any modifications must be made available on a
 *     publically accessible (and locateable) website, or sent to the
 *     original author of this software.
 *
 *  3. Software modifications that do not alter the functionality of the
 *     software but are simply adaptations to a specific environment are
 *     exempt from clause 2.
*/ -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="uk.org.rivernile.edinburghbustracker.android"
          android:versionCode="4"
          android:versionName="0.0.4alpha">
    <application android:label="@string/app_name"
                 android:description="@string/app_description"
                 android:icon="@drawable/appicon">
        <uses-library android:name="com.google.android.maps" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".EnterStopCodeActivity"
                  android:label="@string/enterstopcode_title" />
        <activity android:name=".FavouriteStopsActivity"
                  android:label="@string/favouritestops_title" />
        <activity android:name=".DisplayStopDataActivity"
                  android:label="@string/displaystopdata_title" />
        <activity android:name=".PreferencesActivity"
                  android:label="@string/preferences_title" />
        <activity android:name=".AddEditFavouriteStopActivity"
                  android:label="@string/addeditstop_title" />
        <activity android:name=".BusStopMapActivity"
                  android:label="@string/map_title"
                  android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity android:name=".NewsUpdatesActivity"
                  android:label="@string/newsupdates_title" />

        <provider android:name=".MapSearchHistoryProvider"
                  android:authorities="uk.org.rivernile.edinburghbustracker.android.MapSearchHistoryProvider" />
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.location" android:required="false" />
    <uses-feature android:name="android.hardware.location.network" android:required="false" />
    <uses-feature android:name="android.hardware.location.gps" android:required="false" />

    <uses-sdk android:minSdkVersion="3"
              android:targetSdkVersion="7"/>
</manifest>
