<?xml version="1.0" encoding="UTF-8"?>
<!--
/*
 * Copyright (C) 2009 - 2023 Niall 'Rivernile' Scott
 *
 * This software is provided 'as-is', without any express or implied
 * warranty.  In no event will the authors or contributors be held liable for
 * any damages arising from the use of this software.
 *
 * The aforementioned copyright holder(s) hereby grant you a
 * non-transferrable right to use this software for any purpose (including
 * commercial applications), and to modify it and redistribute it, subject to
 * the following conditions:
 *
 *  1. This notice may not be removed or altered from any file it appears in.
 *
 *  2. Any modifications made to this software, except those defined in
 *     clause 3 of this agreement, must be released under this license, and
 *     the source code of any modifications must be made available on a
 *     publically accessible (and locateable) website, or sent to the
 *     original author of this software.
 *
 *  3. Software modifications that do not alter the functionality of the
 *     software but are simply adaptations to a specific environment are
 *     exempt from clause 2.
*/ -->
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Tell the Google Play Store that this app uses location features, but
         app does not require that devices have them. -->
    <uses-feature
        android:name="android.hardware.location"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location.network"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="false" />
              
    <application
        android:name="uk.org.rivernile.android.bustracker.BusApplication"
        android:label="@string/app_name"
        android:description="@string/app_description"
        android:icon="@drawable/appicon"
        android:theme="@style/Theme.MyBus"
        android:allowBackup="true"
        android:fullBackupContent="@xml/autobackup"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupOnly="true"
        android:networkSecurityConfig="@xml/network_security_config"
        tools:ignore="UnusedAttribute">
        
        <!-- This is the API key used by the backup service. This is linked
             to the package name. -->
        <meta-data
            android:name="com.google.android.backup.api_key"
            android:value="unused" />
        
        <!-- The API key for Google Maps Android API v2. -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${googleMapsApiKey}" />
        
        <!-- This is required by Google Play Services. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        
        <!-- The MainActivity, which is the entry point. -->
        <activity
            android:name="uk.org.rivernile.android.bustracker.ui.main.MainActivity"
            android:launchMode="singleTop"
            android:exported="true">

            <intent-filter>
                <action android:name="${applicationId}.ACTION_MANAGE_ALERTS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <!-- This Activity handles searching. -->
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        
        <activity-alias
            android:name=".MainActivity"
            android:targetActivity="uk.org.rivernile.android.bustracker.ui.main.MainActivity"
            android:label="@string/app_name"
            android:exported="true">
            <!-- This intent filter tells the system to place an app icon in the
                 launcher and use this Activity when starting the app. -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        
        <!-- SelectFavouriteStopActivity, to let the user choose a favourite stop to show as a home
             screen shortcut. -->
        <activity
            android:name="uk.org.rivernile.android.bustracker.ui.favourites.SelectFavouriteStopActivity"
            android:label="@string/favouriteshortcut_title"
            android:icon="@drawable/appicon_favourite"
            android:parentActivityName="uk.org.rivernile.android.bustracker.ui.main.MainActivity"
            android:exported="true">
            <!-- This signifies that this Activity can add shortcuts to the
                 home screen, and launch this Activity when the user wants to
                 create a shortcut. -->
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT" />
            </intent-filter>
        </activity>
        
        <!-- DisplayStopDataActivity, to show bus times. -->
        <activity
            android:name="uk.org.rivernile.android.bustracker.ui.bustimes.DisplayStopDataActivity"
            android:label="@string/displaystopdata_title"
            android:parentActivityName="uk.org.rivernile.android.bustracker.ui.main.MainActivity"
            android:exported="true">
            <!-- This Activity attempts to take over HTTP accessing of
                 mobile.mybustracker.co.uk. -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="http"
                    android:host="mobile.mybustracker.co.uk" />
            </intent-filter>
            <!-- External applications can call this Intent action to load bus
                 times. -->
            <intent-filter>
                <action android:name="uk.org.rivernile.edinburghbustracker.android.ACTION_VIEW_STOP_DATA" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity-alias
            android:name=".DisplayStopDataActivity"
            android:targetActivity="uk.org.rivernile.android.bustracker.ui.bustimes.DisplayStopDataActivity"
            android:exported="true"
            android:label="@string/displaystopdata_title" />
        
        <!-- PreferencesActivity, to let the user change app preferences. -->
        <activity
            android:name="uk.org.rivernile.android.bustracker.ui.settings.SettingsActivity"
            android:label="@string/preferences_title"
            android:parentActivityName="uk.org.rivernile.android.bustracker.ui.main.MainActivity"
            android:exported="true">
            <!-- This lets the user manage network settings for the application from elsewhere in
                 the system. -->
            <intent-filter>
                <action android:name="android.intent.action.MANAGE_NETWORK_USAGE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <!-- BusStopMapActivity, to show bus stops on the map. -->
        <activity
            android:name="uk.org.rivernile.android.bustracker.ui.busstopmap.BusStopMapActivity"
            android:label="@string/map_title"
            android:launchMode="singleTop"
            android:parentActivityName="uk.org.rivernile.android.bustracker.ui.main.MainActivity"
            android:exported="true">
            <!-- External applications can call this Intent action to show the
                 bus stop map. -->
            <intent-filter>
                <action android:name="uk.org.rivernile.edinburghbustracker.android.ACTION_VIEW_BUS_STOP_MAP" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- AboutActivity, to show 'about' information for the application. -->
        <activity
            android:name="uk.org.rivernile.android.bustracker.ui.about.AboutActivity"
            android:label="@string/about_title"
            android:parentActivityName="uk.org.rivernile.android.bustracker.ui.main.MainActivity" />

        <!-- SettingsProvider, to provide the user's saved favourite stops and active alerts. -->
        <provider
            android:name="uk.org.rivernile.android.bustracker.database.settings.SettingsProvider"
            android:authorities="${applicationId}.provider.settings"
            android:exported="false" />

        <!-- BusStopProvider, to provide bus stop data. -->
        <provider
            android:name="uk.org.rivernile.android.bustracker.database.busstop.BusStopProvider"
            android:authorities="${applicationId}.provider.busstop"
            android:exported="false" />

        <!-- Removes the WorkManager initialiser, as we initialise this ourselves. -->
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            tools:node="remove" />
    </application>
</manifest>
