name: Deploy staging
on:
  push:
    branches:
      - staging
jobs:
  build-and-test:
    name: Build, test and deploy
    runs-on: ubuntu-latest
    environment: staging
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
      - name: Setup Java
        uses: ./.github/actions/setup-java
      - name: Write Google Services file
        uses: ./.github/actions/write-google-services-file
        with:
          google-services-debug-base64: ${{ secrets.EDINBURGH_GOOGLE_SERVICES_DEBUG_BASE64 }}
          google-services-release-base64: ${{ secrets.EDINBURGH_GOOGLE_SERVICES_RELEASE_BASE64 }}
      - name: Write debug keystore
        uses: ./.github/actions/write-keystore-file
        id: write-debug-keystore
        with:
          name: debug
          keystore-file-base64: ${{ secrets.KEYSTORE_FILE_DEBUG_BASE64 }}
      - name: Write Firebase service credentials file
        uses: ./.github/actions/write-firebase-service-credentials-file
        with:
          firebase-service-account-token-base64: ${{ secrets.EDINBURGH_FIREBASE_SERVICE_ACCOUNT_TOKEN_BASE64 }}
      - name: Build, test and deploy
        run: >
          ./gradlew
          --no-daemon
          --no-configuration-cache
          --no-build-cache
          -Pandroid.testoptions.manageddevices.emulator.gpu=swiftshader_indirect
          -Pandroid.experimental.androidTest.numManagedDeviceShards=1
          -Pandroid.experimental.testOptions.managedDevices.maxConcurrentDevices=1
          -Pmybus.edinburgh.apiKey=${{ secrets.EDINBURGH_API_KEY }}
          -Pmybus.edinburgh.bustracker.apiKey=${{ secrets.EDINBURGH_BUS_TRACKER_API_KEY }}
          -Pmybus.edinburgh.debug.mapsKey=${{ secrets.EDINBURGH_GOOGLE_MAPS_API_KEY }}
          -Pmybus.keystore.debug.file=${{ steps.write-debug-keystore.outputs.keystore-path }}
          -Pmybus.keystore.debug.storePassword=${{ secrets.KEYSTORE_PASSWORD_DEBUG }}
          -Pmybus.keystore.debug.keyAlias=${{ secrets.KEYSTORE_ALIAS_DEBUG }}
          -Pmybus.keystore.debug.keyPassword=${{ secrets.KEYSTORE_ALIAS_PASSWORD_DEBUG }}
          clean
          test
          :app:lintEdinburghDebug
          :app:assembleDebug
          :app:appDistributionUploadEdinburghDebug
        env:
          JAVA_OPTS: '-Xmx4096m'
      - name: Store artifacts
        uses: ./.github/actions/store-artifacts
