name: Deploy release
on:
  push:
    branches:
      - master
jobs:
  build-and-test:
    name: Build, test and deploy
    runs-on: ubuntu-latest
    environment: production
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Setup Java
        uses: ./.github/actions/setup-java
      - name: Write Google Services file
        uses: ./.github/actions/write-google-services-file
        with:
          google-services-debug-base64: ${{ secrets.EDINBURGH_GOOGLE_SERVICES_DEBUG_BASE64 }}
          google-services-release-base64: ${{ secrets.EDINBURGH_GOOGLE_SERVICES_RELEASE_BASE64 }}
      - name: Write debug keystore
        uses: ./.github/actions/write-keystore-file
        id: write-debug-keystore
        with:
          name: debug
          keystore-file-base64: ${{ secrets.KEYSTORE_FILE_DEBUG_BASE64 }}
      - name: Write release keystore
        uses: ./.github/actions/write-keystore-file
        id: write-release-keystore
        with:
          name: release
          keystore-file-base64: ${{ secrets.KEYSTORE_FILE_BASE64 }}
      - name: Write Firebase service credentials file
        uses: ./.github/actions/write-firebase-service-credentials-file
        with:
          firebase-service-account-token-base64: ${{ secrets.EDINBURGH_FIREBASE_SERVICE_ACCOUNT_TOKEN_BASE64 }}
      - name: Enable hardware acceleration
        uses: ./.github/actions/enable-hardware-acceleration
      - name: Accept Android SDK licences
        uses: ./.github/actions/accept-android-sdk-licences
      - name: Build, test and deploy
        run: >
          ./gradlew
          --no-configuration-cache
          --no-build-cache
          -Pandroid.testoptions.manageddevices.emulator.gpu=swiftshader_indirect
          -Pmybus.edinburgh.apiKey=${{ secrets.EDINBURGH_API_KEY }}
          -Pmybus.edinburgh.release.mapsKey=${{ secrets.EDINBURGH_GOOGLE_MAPS_API_KEY }}
          -Pmybus.keystore.debug.file=${{ steps.write-debug-keystore.outputs.keystore-path }}
          -Pmybus.keystore.debug.storePassword=${{ secrets.KEYSTORE_PASSWORD_DEBUG }}
          -Pmybus.keystore.debug.keyAlias=${{ secrets.KEYSTORE_ALIAS_DEBUG }}
          -Pmybus.keystore.debug.keyPassword=${{ secrets.KEYSTORE_ALIAS_PASSWORD_DEBUG }}
          -Pmybus.keystore.release.file=${{ steps.write-release-keystore.outputs.keystore-path }}
          -Pmybus.keystore.release.storePassword=${{ secrets.KEYSTORE_PASSWORD }}
          -Pmybus.keystore.release.keyAlias=${{ secrets.KEYSTORE_ALIAS }}
          -Pmybus.keystore.release.keyPassword=${{ secrets.KEYSTORE_ALIAS_PASSWORD }}
          clean
          test
          :app:lintEdinburghRelease
          :app:assembleRelease
          :app:appDistributionUploadEdinburghRelease
        env:
          JAVA_OPTS: '-Xmx4096m'
      - name: Store artifacts
        uses: ./.github/actions/store-artifacts
