name: Deploy release
on:
  push:
    branches:
      - master
jobs:
  build-and-test:
    name: Build, test and deploy
    runs-on: ubuntu-latest
    environment: production
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup-java
      - uses: ./.github/actions/write-google-services-file
      - name: Write release keystore
        uses: ./.github/actions/write-keystore-file
        id: write-release-keystore
      - uses: ./.github/actions/write-firebase-service-credentials-file
      - name: Build, test and deploy
        run: >
          ./gradlew
          --no-configuration-cache
          --no-build-cache
          -Pandroid.testoptions.manageddevices.emulator.gpu=swiftshader_indirect
          -Pmybus.edinburgh.apiKey=${{ secrets.EDINBURGH_API_KEY }}
          -Pmybus.edinburgh.release.mapsKey=${{ secrets.EDINBURGH_GOOGLE_MAPS_API_KEY }}
          -Pmybus.keystore.release.file=${{ steps.write-release-keystore.outputs.keystore-path }}
          -Pmybus.keystore.release.storePassword=${{ secrets.KEYSTORE_PASSWORD }}
          -Pmybus.keystore.release.keyAlias=${{ secrets.KEYSTORE_ALIAS }}
          -Pmybus.keystore.release.keyPassword=${{ secrets.KEYSTORE_ALIAS_PASSWORD }}
          clean
          test
          :app:lintEdinburghRelease
          :app:assembleRelease
          :app:appDistributionUploadEdinburghRelease
        env:
          JAVA_OPTS: '-Xmx4096m'
      - uses: ./.github/actions/store-artifacts