name: Push and pull request
on: [pull_request, push]
jobs:
  build-and-test:
    name: Build and test
    runs-on: ubuntu-latest
    environment: development
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup-java
      - uses: ./.github/actions/write-google-services-file
      - name: Write debug keystore
        uses: ./.github/actions/write-keystore-file
        id: write-debug-keystore
      - name: Build and test
        run: >
          ./gradlew
          --no-configuration-cache
          --no-build-cache
          -Pandroid.testoptions.manageddevices.emulator.gpu=swiftshader_indirect
          -Pmybus.edinburgh.apiKey=${{ secrets.EDINBURGH_API_KEY }}
          -Pmybus.edinburgh.debug.mapsKey=${{ secrets.EDINBURGH_GOOGLE_MAPS_API_KEY }}
          -Pmybus.keystore.debug.file=${{ steps.write-debug-keystore.outputs.keystore-path }}
          -Pmybus.keystore.debug.storePassword=${{ secrets.KEYSTORE_PASSWORD }}
          -Pmybus.keystore.debug.keyAlias=${{ secrets.KEYSTORE_ALIAS }}
          -Pmybus.keystore.debug.keyPassword=${{ secrets.KEYSTORE_ALIAS_PASSWORD }}
          clean
          test
          :app:lint
          assembleDebug
        env:
          JAVA_OPTS: '-Xmx4096m'
      - uses: ./.github/actions/store-artifacts